@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --title-font: 'Raleway', sans-serif;
  --regular-font: 'Fira Sans', sans-serif;
  --code-font: 'Fira Code', monospace;
  --font-color-dark: #333;
  --font-color-light: #fff;
  --default-spacing-x: .75rem;
  --default-spacing-y: .5rem;
  --default-spacing: var(--default-spacing-y) var(--default-spacing-x);
  --highlight-color: hsl(217, 71%, 55%); /* rgb(57, 119, 222) #3977de */
  --highlight-color-darker: hsl(217, 71%, 45%); /* rgb(33, 96, 196) #2160c4 */
  --default-shadow: .125rem .25rem .5rem rgba(0, 0, 0, .5);
  --default-border-radius: .375rem;

  /* Bootstrap breakpoints */
  --breakpoint-xs: 576px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
}

* {
  position: relative;
  box-sizing: border-box;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: .5rem;
}

html, body, main {
  width: 100vw;
  height: min(100vh, 100%);
  overflow: hidden;
}

html {
  font-size: 16px; /* 1rem */
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 14px;
  }
}

body, button, input, textarea {
  color: var(--font-color-dark);
  font-size: 1rem;
  font-family: var(--regular-font);
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  letter-spacing: .125em;
}

h1::first-letter, h2::first-letter, h3::first-letter,
h4::first-letter, h5::first-letter, h6::first-letter {
  color: var(--highlight-color);
}

button {
  border: none;
  outline: none;
}

button:not(:disabled) {
  cursor: pointer;
}

code, pre {
  font-family: var(--code-font);
}

.highlighted-text {
  color: var(--highlight-color);
}

.default-btn {
  display: flex;
  align-items: center;
  gap: calc(var(--default-spacing-x) / 3);
  height: 2rem;
  border: none;
  outline: none;
  overflow: hidden;
  padding: var(--default-spacing);
  background-color: var(--highlight-color);
  text-decoration: none;
  color: var(--font-color-light);
  transition: background-color .2s;
}

.default-btn:hover {
  background-color: var(--highlight-color-darker);
}

.default-btn > .material-icons {
  font-size: 1rem;
}

.pill-btn {
  border-radius: 1rem;
}

.text-box {
  background-color: rgba(255, 255, 255, .75);
  padding: var(--default-spacing);
  border-radius: var(--default-border-radius);
  line-height: 1.5rem;
}

.elevated {
  box-shadow: var(--default-shadow);
}
